<div class="container">

    {{#with produto}}

    <div>
        <a href="/">Voltar</a>
        <h1>{{nome}}</h1>
        <img src="{{imagem}}" alt="">
        <p>Marca: {{marca}}</p>
        <p>Descrição: {{descrição}}</p>
    </div>


    {{/with}}

</div>
